:root {
    --color: rgb(192, 192, 192);
    --highlightColor: rgb(48, 48, 48);
    --primaryColor: rgb(32, 32, 32);
}

body {
    background: rgb(16, 16, 16);
    color: var(--color);
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: #fff;
}

.btn {
    background: rgb(183, 15, 21);
    border: 0;
    color: rgb(224, 224, 224);
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 16px;
    transition: 0.2s ease;
}

.btn:hover {
    background: rgb(158, 13, 18);
}

/* Header */
header {
    align-items: center;
    background: #000;
    display: flex;
    height: 10vh;
    padding: 8px 32px;
}

.header-title {
    z-index: 1;
}

.header-title a {
    align-items: center;
    display: flex;
    font-size: 48px;
    font-weight: bold;
}

.header-title a:hover {
    color: unset;
}

.header-title img {
    height: 64px;
    margin-right: 16px;
    width: auto;
}

.header-nav-container {
    position: absolute;
    width: calc(100% - 64px);
}

.header-nav {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.header-nav div {
    margin: 0 32px;
}

.header-active {
    color: #fff;
}

/* Footer */
footer {
    align-items: center;
    background: #000;
    display: flex;
    height: 10vh;
    justify-content: center;
    padding: 8px 32px;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}

/* Home */
main {
    min-height: 80vh;
}

.home {
    padding: 128px 0;
    text-align: center;
}

.home img {
    height: auto;
    width: 128px;
}

.home div {
    font-size: 24px;
    line-height: 36px;
    margin: 32px 0;
    text-align: center;
}

.home button {
    margin: 0 auto;
}

/* Loading Spinner */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.loading-spinner {
    animation: spinner 1s linear infinite;
    border: 16px solid rgb(192, 192, 192);
    border-top: 16px solid rgb(64, 64, 64);
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

/* Search Box */
.search {
    padding: 32px 0;
}

.search-box {
    align-items: center;
    background: var(--primaryColor);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    padding: 8px 16px;
    width: 25%;
}

header .search-box {
    margin-left: 32px;
}

.items .search-box {
    margin: 0 auto;
}

.search-icon {
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

.search-input {
    background: none;
    border: 0;
    color: var(--color);
    font-size: 24px;
    padding: 0;
    width: 100%;
}

.search-input:focus {
    outline: none;
}

.no-results {
    font-size: 20px;
    text-align: center;
    padding: 32px 0;
}

/* User Header */
.user-header {
    padding: 64px 128px 0 128px;
}

.user-header-top {
    align-items: center;
    display: flex;
}

.user-header .avatar {
    border-radius: 50%;
    height: 128px;
    width: 128px;
}

.user-header-top span {
    font-size: 48px;
    font-weight: bold;
    margin-left: 32px;
}

.user-header nav {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    padding-top: 32px;
}

.user-header nav div {
    padding: 16px 0;
    text-align: center;
    width: 192px;
}

.user-header-active {
    border-bottom: 4px solid var(--color);
}

.user-header-active a {
    color: #fff;
}

/* Profile */
.profile {
    background: rgb(8, 8, 8);
    display: flex;
    padding: 64px 128px;
}

.profile-sidebar {
    width: 25%;
}

.profile-sidebar section {
    margin-bottom: 32px;
}

.profile-sidebar div:not(:last-child) {
    padding-bottom: 8px;
}

.profile-sidebar div:not(.about) {
    border-left: 1px solid rgb(64, 64, 64);
    font-size: 16px;
    padding-left: 16px;
}

.profile-sidebar label {
    font-weight: bold;
    margin-right: 8px;
}

.profile-info div:last-child div {
    margin-top: 8px;
}

.favorites {
    margin-left: 16px;
}

.favorites .list-items {
    width: calc((150px + 32px) * 5);
}

.favorites .item {
    width: 150px;
}

/* Pagination */
.pagination-btns {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.pagination-btn, .pagination-current-btn, .pagination-nav-btn {
    background: var(--primaryColor);
    margin: 0 8px;
    padding: 8px 16px;
}

.pagination-btn, .pagination-nav-btn {
    cursor: pointer;
}

.pagination-btn:hover, .pagination-nav-btn:hover {
    background: var(--highlightColor);
}

.pagination-current-btn {
    background: var(--highlightColor);
    cursor: default;
}

.pagination-info {
    padding: 16px 0;
    text-align: center;
}

/* View Type */
.view-type-btns {
    display: flex;
    justify-content: center;
}

.view-type-btn {
    cursor: pointer;
    transition: 0.2s ease;
}

.view-type-btn:hover {
    color: #fff;
}

.view-type-btn-active {
    color: #fff;
    cursor: unset;
}

/* Items - Grid View */
.items {
    background: rgb(8, 8, 8);
}

.items h1 {
    margin: 0 64px;
}

.items-grid {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    justify-content: center;
    padding: 16px 0;
}

.item {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
}

.item-poster {
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.2s ease;
    width: 100%;
}

.item:hover .item-poster {
    opacity: 0.5;
}

.item-poster-empty {
    object-fit: contain;
}

.item-title {
    align-items: center;
    display: flex;
    height: 64px;
}

.item-title span {
    padding: 0 16px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

/* Items - List View */
.items-list {
    padding: 16px 128px;
    font-size: 20px;
}

.items-list a:first-child {
    border-top: 1px solid rgb(64, 64, 64);
}

.items-list a {
    border-bottom: 1px solid rgb(64, 64, 64);
    display: block;
    padding: 16px 0;
}

/* Lists */
.lists {
    background: rgb(8, 8, 8);
    padding: 64px 128px;
}

.list-description {
    margin: 16px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-row {
    display: flex;
}

.list-items {
    display: flex;
    gap: 32px;
    width: calc((200px + 32px) * 5);
}

.list-empty {
    font-size: 20px;
    font-style: italic;
    margin: 16px 0;
}

.view-more-btn-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 200px;
}

/* Mobile */
@media screen and (max-width: 1000px) {
    /* Header */
    header {
        display: block;
        height: unset;
    }

    .header-title {
        display: flex;
        justify-content: center;
    }

    .header-title a {
        font-size: 32px;
    }

    .header-title img {
        height: 48px;
    }

    header .search-box {
        margin: 16px auto;
    }

    .search-input {
        font-size: 16px;
    }

    .header-nav-container {
        position: unset;
        width: unset;
    }

    .header-nav {
        font-size: 24px;
    }

    .header-nav div {
        margin: 16px 32px 8px 32px;
    }

    /* Footer */
    footer {
        font-size: 12px;
        text-align: center;
    }

    /* Search Box */
    .search-box {
        width: 75%;
    }

    /* User Header */
    .user-header {
        padding: 16px 32px 0 32px;
    }

    .user-header .avatar {
        height: 64px;
        width: 64px;
    }

    .user-header-top span {
        font-size: 24px;
        margin-left: 16px;
    }

    .user-header nav {
        font-size: 16px;
        padding-top: 0;
    }

    .user-header nav div {
        padding: 16px;
    }

    /* Pagination */
    .pagination-btns {
        flex-wrap: wrap;
        gap: 16px;
    }

    .pagination-btn, .pagination-current-btn, .pagination-nav-btn {
        margin: 0;
        padding: 4px 8px;
    }

    /* Items - Grid View */
    .items-grid {
        grid-gap: 24px;
        grid-template-columns: 100px 100px 100px;
    }

    .items h1 {
        margin: 0 16px;
    }

    .item {
        width: 100px;
    }

    .item-title span {
        font-size: 12px;
        padding: 0;
    }

    /* Items - List View */
    .items-list {
        padding: 0;
    }

    .items-list a {
        padding: 16px 8px;
    }
}