:root {
    --primaryColor: rgb(64, 16, 16);
    --highlightColor: rgb(128, 32, 32);
    --color: rgb(192, 192, 192);
    --borderColor: rgb(128, 128, 128);
}

body {
    background: rgb(16, 16, 16);
    color: var(--color);
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    background: rgb(8, 8, 8);
    padding: 8px 32px;
}

.header-title {
    font-size: 48px;
    font-weight: bold;
}

.header-nav-container {
    position: absolute;
    width: calc(100% - 64px);
}

.header-nav {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.header-nav div {
    margin: 0 32px;
}

/* Loading Spinner */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.loading-spinner {
    width: 64px;
    height: 64px;
    border: 16px solid rgb(192, 192, 192);
    border-top: 16px solid rgb(64, 64, 64);
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

/* Pagination */
.pagination-btns {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.pagination-btn, .pagination-current-btn, .pagination-nav-btn {
    background: var(--primaryColor);
    margin: 0 8px;
    padding: 8px 16px;
    border: 1px solid var(--borderColor);
}

.pagination-btn, .pagination-nav-btn {
    cursor: pointer;
}

.pagination-btn:hover, .pagination-nav-btn:hover {
    background: var(--highlightColor);
}

.pagination-current-btn {
    background: var(--highlightColor);
    cursor: default;
}

.pagination-info {
    padding: 16px 0;
    text-align: center;
}

/* Home Items */
.home-items-container {
    display: flex;
    padding: 0 64px;
}

.home-items {
    width: 50%;
    padding: 0 32px;
    box-sizing: border-box;
}

.home-items-header {
    padding: 16px 0;
    font-size: 32px;
    text-align: center;
}

.home-items-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.home-item-rank {
    font-size: 64px;
    padding: 0 32px;
}

.home-item-poster-container {
    min-width: 100px;
    height: 150px;
}

.home-item-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-item {
    display: flex;
}

.home-item-info {
    padding: 0 32px;
}

.home-item-title {
    font-size: 32px;
    font-weight: bold;
}

.home-item-year {
    margin-top: 16px;
    font-size: 24px;
}

/* Items */
.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 16px 0;
}

.item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    border: 1px solid var(--borderColor);
}

.item-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-title {
    display: flex;
    align-items: center;
    background: var(--primaryColor);
    height: 32px;
}

.item-title span {
    width: 100%;
    padding: 0 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}