:root {
    --primaryColor: rgb(32, 32, 32);
    --highlightColor: rgb(48, 48, 48);
    --color: rgb(192, 192, 192);
}

body {
    background: rgb(16, 16, 16);
    color: var(--color);
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: #fff;
}

.btn {
    background: rgb(183, 15, 21);
    padding: 8px 16px;
    border: 0;
    color: rgb(224, 224, 224);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    background: rgb(158, 13, 18);
}

/* Header */
header {
    display: flex;
    align-items: center;
    background: #000;
    height: 10vh;
    padding: 8px 32px;
}

.header-title {
    z-index: 1;
}

.header-title a {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

.header-title a:hover {
    color: unset;
}

.header-title img {
    width: auto;
    height: 64px;
    margin-right: 16px;
}

.header-nav-container {
    position: absolute;
    width: calc(100% - 64px);
}

.header-nav {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.header-nav div {
    margin: 0 32px;
}

.header-active {
    color: #fff;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 10vh;
    padding: 8px 32px;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}

/* Home */
main {
    min-height: 80vh;
}

.home {
    padding: 128px 0;
    text-align: center;
}

.home img {
    width: 128px;
    height: auto;
}

.home div {
    margin: 32px 0;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}

.home button {
    margin: 0 auto;
}

/* Loading Spinner */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.loading-spinner {
    width: 64px;
    height: 64px;
    border: 16px solid rgb(192, 192, 192);
    border-top: 16px solid rgb(64, 64, 64);
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

/* Search Box */
.search {
    padding: 32px 0;
}

.search-box {
    display: flex;
    align-items: center;
    background: var(--primaryColor);
    width: 25%;
    padding: 8px 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

header .search-box {
    margin-left: 32px;
}

.items .search-box {
    margin: 0 auto;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.search-input {
    background: none;
    width: 100%;
    padding: 0;
    color: var(--color);
    font-size: 24px;
    border: 0;
}

.search-input:focus {
    outline: none;
}

.no-results {
    padding: 32px 0;
    text-align: center;
    font-size: 20px;
}

/* User Header */
.user-header {
    padding: 64px 128px 0 128px;
}

.user-header-top {
    display: flex;
    align-items: center;
}

.user-header .avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.user-header-top span {
    margin-left: 32px;
    font-size: 48px;
    font-weight: bold;
}

.user-header nav {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    font-size: 32px;
    font-weight: bold;
}

.user-header nav div {
    width: 192px;
    padding: 16px 0;
    text-align: center;
}

.user-header-active {
    border-bottom: 4px solid rgb(64, 64, 64);
}

.user-header-active a {
    color: #fff;
}

/* Profile */
.profile {
    background: rgb(8, 8, 8);
    padding: 64px 128px;
}

.profile div {
    margin-bottom: 16px;
    font-size: 24px;
}

.profile label {
    font-weight: bold;
}

.profile div:not(:last-child) label {
    margin-right: 8px;
}

.profile div:nth-last-child(2) div {
    margin-top: 16px;
}

.profile button {
    margin-top: 32px;
}

/* Pagination */
.pagination-btns {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.pagination-btn, .pagination-current-btn, .pagination-nav-btn {
    background: var(--primaryColor);
    margin: 0 8px;
    padding: 8px 16px;
}

.pagination-btn, .pagination-nav-btn {
    cursor: pointer;
}

.pagination-btn:hover, .pagination-nav-btn:hover {
    background: var(--highlightColor);
}

.pagination-current-btn {
    background: var(--highlightColor);
    cursor: default;
}

.pagination-info {
    padding: 16px 0;
    text-align: center;
}

/* View Type */
.view-type-btns {
    display: flex;
    justify-content: center;
}

.view-type-btn {
    cursor: pointer;
    transition: 0.2s ease;
}

.view-type-btn:hover {
    color: #fff;
}

.view-type-btn-active {
    color: #fff;
    cursor: unset;
}

/* Items - Grid View */
.items {
    background: rgb(8, 8, 8);
}

.items h1 {
    margin: 0 64px;
}

.items-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 16px 0;
}

.item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
}

.item-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.2s ease;
}

.item:hover .item-poster {
    opacity: 0.5;
}

.item-poster-empty {
    object-fit: contain;
}

.item-title {
    display: flex;
    align-items: center;
    height: 64px;
}

.item-title span {
    width: 100%;
    padding: 0 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Items - List View */
.items-list {
    padding: 16px 128px;
    font-size: 20px;
}

.items-list a:first-child {
    border-top: 1px solid rgb(64, 64, 64);
}

.items-list a {
    display: block;
    padding: 16px 0;
    border-bottom: 1px solid rgb(64, 64, 64);
}

/* Lists */
.lists {
    background: rgb(8, 8, 8);
    padding: 64px 128px;
}

.list {
    padding: 16px 0;
}

.list h1 {
    line-height: 16px;
}

.list-description {
    margin: 16px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-items {
    display: flex;
    gap: 32px;
}

.view-more-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

/* Mobile */
@media screen and (max-width: 1000px) {
    /* Header */
    header {
        display: block;
        height: unset;
    }

    .header-title {
        display: flex;
        justify-content: center;
    }

    .header-title a {
        font-size: 32px;
    }

    .header-title img {
        height: 48px;
    }

    .header-nav-container {
        position: unset;
        width: unset;
    }

    .header-nav {
        font-size: 24px;
    }

    .header-nav div {
        margin: 16px 32px 8px 32px;
    }

    /* Footer */
    footer {
        font-size: 12px;
        text-align: center;
    }

    /* Search Box */
    .search-box {
        width: 75%;
    }

    /* Pagination */
    .pagination-btns {
        flex-wrap: wrap;
        gap: 16px;
    }

    .pagination-btn, .pagination-current-btn, .pagination-nav-btn {
        margin: 0;
        padding: 4px 8px;
    }

    /* Items - Grid View */
    .items-grid {
        gap: 24px;
    }

    .item {
        width: 100px;
    }

    .item-title span {
        padding: 0;
        font-size: 12px;
    }

    /* Items - List View */
    .items-list {
        padding: 0;
    }

    .items-list a {
        padding: 16px 8px;
    }
}